.divider{
    border-bottom: 3px dotted gray;
}
.each-photo{
    width:90%;
    margin-top: 10px;
    margin-bottom: 3%;
}
.each-pic{
    max-width: 95%;
    margin-left: 20px;
}

.like-button{
    margin-left: 15px;
    font-size: 30px;
}

.comment-content{
    margin-top: -1.3%;
    margin-left: 70px;
}
.avatar-link{
    text-decoration: none;
}

.add-new-area{
    display: inline-flex;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.add-new-avatar{
    margin-left: 15px;
    margin-right: 15px;
}
.add-new-textfield{
    width: 80%;
}
.add-new-button{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: transparent;
}


